<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is--brand">
            <h1 style="color: #fff;" class="title is-3">Elegant</h1>
        </a>
        <button class="button navbar-burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </button>
    </div>
</nav>